// Video header
.videoPortada {
	min-height: 900px;
	background: url('../img/pattern-bg.png');
}

// Map Canvas
.map_canvas {
	height: 30em;
	border-top: 0.4em solid @brand-primary;
	border-bottom: 0.4em solid @brand-primary;
}

.logo-2bi-navbar {
	margin-top: -0.6em;
}

.logo-2bi-header {
	margin: -8em 0 3em 0;
}

@media(max-width:768px) {
	.logo-2bi-header {
		margin: 0 0 3em 0;
	}
}

.btn {
	.heading-font;
	font-weight: 700;
}

// Investors Section

section#investors {
	background-image: url('../img/investors-bg.jpg');
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
