<!-- Portfolio Modal Agrokaam -->
<div class="portfolio-modal modal fade" id="agrokaamModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>{{ 'Agrokaam Website'|trans }}</h2>
                        <p class="item-intro text-muted">{{ 'Corporative Website for Agrokaam'|trans }}.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/agrokaam-preview.jpg" alt="Agrokaam">
                        <p>{{ '<strong>Agrokaam</strong> is a RWD corporative cracker website, designed and developed with <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>jQuery</strong> and <strong>AngularJS</strong> for the frontend and <strong>Silex PHP</strong> microframework in the backend.'|trans|raw }}</p>
                        <a type="button" target="_blank" class="btn btn-primary" href="http://www.agrokaam.com"><i class="fa fa-external-link-square"></i> www.agrokaam.com</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'Close Project'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
