<!-- Portfolio Modal Kaam -->
<div class="portfolio-modal modal fade" id="kaamModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>{{ 'Kaam Website'|trans }}</h2>
                        <p class="item-intro text-muted">{{ 'Corporative Website for the Kaam Company'|trans }}.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/kaam-preview.jpg" alt="Kaam">
                        <p>{{ '<strong>Kaam</strong> is a RWD corporative website designed and developed with <strong>ZURB Foundation</strong> frontend framework, <strong>jQuery</strong> and <strong>Silex PHP</strong> microframework in the backend.'|trans|raw }}</p>
                        <a type="button" target="_blank" class="btn btn-primary" href="http://www.kaam.es"><i class="fa fa-external-link-square"></i> www.kaam.es</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> {{ 'Close Project'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
