<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a href="http://www.reddium.es/">
                    <img src="img/logos/reddium_bn.jpg" class="img-responsive img-centered" alt="Reddium">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="http://www.eoi.es/portal/guest/inicio">
                    <img src="img/logos/eoi_bn.jpg" class="img-responsive img-centered" alt="EOI">
                </a>
            </div>
            <div class="col-md-4 col-sm-12">
                <a href="http://www.salesforce.com/es/?rd=es">
                    <img src="img/logos/salesforce_bn.jpg" class="img-responsive img-centered" alt="Salesforce">
                </a>
            </div>
        </div>
    </div>
</aside>