<!-- Header -->
<header class="videoPortada" id="videoPortada">
    <div class="container">
        <div class="intro-text">
            <img class="logo-2bi-header" src="img/logos/2bi_header.png"></img>
            <div class="intro-lead-in">Welcome To 2bi smart IT!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>